body {
	font-size: 14px;
	font-family: monospace;
	line-height: 16px;
	margin: 0;
}

#text {
	position: relative;
}

#text > div {
	
}

.cursor {
	position: absolute;
	width: 1px;
	height: 16px;
	border-left: 1px solid black;
}

.command-preview {
	position: absolute;
	background: gray;
}

.command-preview a {
	display: block;
	text-decoration: none;
	color: white;
}

.command {
	color: gray;
	position: relative;
}

.command:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px dashed gray;
	content: '';
	left: 0;
	top: 0;
}